{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Recipe{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="d_name">Dish name</label>
    <input name="d_name" id="d_name" value="{{ request.form['d_name'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="c_rule">Cooking rule</label>
    <textarea name="c_rule" id="c_rule">{{ request.form['c_rule'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}